p
	| Hi #{ user.fullName },
p
	a(href='#{ siteUrl }/cases/#{ kase.id }?event=#{ event.id }') A new report
	= ' '
	| has been uploaded for
	= ' '
	a(href='#{ siteUrl }/cases/#{ kase.id }') #{ patient.firstName } #{ patient.lastName }.
p
	| Regards,
