p
	a(href=siteUrl + '/cases/' + kase.id)
		= kase.name
	|  »
	= ' '
	a(href=siteUrl + '/cases/' + kase.id + '?event=' + event.id)
		= event.name
	|  »
	= ' '
	a(href=siteUrl + '/cases/' + kase.id + '?event=' + event.id)
		| View #{ note.name } on BizMan
