p.
	Hello #{ user.firstName },
p.
	Your password at <a href="#{ siteUrl }">CLM BizMan</a> has been reset.
	You can login with the following credential:
ul
	li Email: <strong>#{ user.email }</strong>
	li Password: <strong>#{ password }</strong>
p.
	You should change your initial password afterward.
p.
	Regards,
